@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

b {
    color:#1c87c9;
}

p.alert {
    color: #c92c4b;
    font-weight: bold;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 80px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 18px;
}

.saveButton {
    width: 80px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: rgb(0, 129, 204);
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 18px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: relative;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.layer{
    width: 70%;
}

.tokenInput {
    width: 30%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 15px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: rgb(0, 129, 204);
}

div.scrollmenu {
    background-color: #00B4CC;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: rgb(0, 129, 204);
}